/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
@font-face {
    font-family: 'james_fajardoregular';
    src: url('/css/james_fajardo-webfont.eot');
    src: url('/css/james_fajardo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/james_fajardo-webfont.woff') format('woff'),
         url('/css/james_fajardo-webfont.ttf') format('truetype'),
         url('/css/james_fajardo-webfont.svg#james_fajardoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {width:100%;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#3a3a3a;
	border-top:5px solid #162d50;
	background:url(../images/bg.jpg) center 0 no-repeat #1a62a5;
}

.sm_suf {
	margin-left: 6em;
	margin-top: 7em;
	display: none;
}

.head_1 {
	display: none;
}

.head_2 {
	display: none;
}

.sm_head_1 {
	display: none;
}

.sm_head_2 {
	display: none;
}

.bg {
	width:950px; 
	margin:0 auto 0 auto;
	padding:45px 0 28px;
	background:#fcfcfc;
}
.bg_bottom {
	width:950px; 
	margin:0 auto 0 auto;
	padding:18px 0 18px 0;
	background:#fcfcfc;
}
.bg-2 {
	width:950px; 
	margin:0 auto;
	padding:45px 0 55px;
	background:#fcfcfc;
}

.main {
	width:990px; 	
	padding:0;
	margin:0 auto 0 auto;
	font-size:0.8125em;
	line-height:1.538em;
}

a {color:#162D50; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2 {float:left;}
.col-1 {width:176px; margin-right:30px;}
.col-2 {width:176px;}

.wrapper_fp {
	width:100%; 
	overflow:hidden;
}
.wrapper {width:100%; overflow:hidden;}
.pic_wrapper {width:100%; overflow:hidden;}
.side_wrapper {
	width: 100%;
	overflow: hidden;
}
.wrapper_bottom {width:100%; overflow:hidden;}
.wrapper_middle {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
.sm-extra-wrap {
	overflow: hidden;
}
.lrg-extra-wrap {
	overflow: hidden;
}
.map-extra-wrap {
	overflow: hidden;
}
 
p {margin-bottom:18px;}
.p0 {margin-bottom:0px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}

.frame {
	padding:1px;
	background:#00102d;
}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0 14px;}
.indent2 {padding:0 9px 0 23px;}

.pref {padding:0 23px 0 18px;}
.suf {padding-right:18px;}
.new_suf {padding-right:18px;}
.sm_suf {
	padding: 0;
}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 25px 0px 0;}		
.img-indent2 {float:left; margin:0 18px 0px 0;}	
.img-indent3 {float:left; margin:0 10px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a,
.link, .link-1, .link-2, .link-3, .link-4,
.title_logo {text-decoration:none;}	
.logo {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

h1 {
	padding:6px 0 0 0; 
	margin:0 0 0 -2px;
	position:relative;
}

.title_logo {
	display:none; 
	font-size: 80px;
	font-family: 'james_fajardoregular';
	line-height:1.2em;
	color:#fcfcfc;
	font-weight: 100 !important;
	-webkit-text-stroke: 0.35px;
}

.logo {
	display: inline-block; 
	font-size: 80px;
	color:#fcfcfc;
	margin-top: 0.18em;
	margin-bottom: 0.03em;
}

#search-form {
	padding-top:42px; 
	overflow:hidden;
}
#search-form input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.2em;
	width:144px;
	padding:5px 10px;
	margin:0;
	color:#fff;
	background:#16478c; 
	border-top:1px solid #0b2250;
	border-left:1px solid #0b2250;
	border-bottom:none;
	border-right:none;
	float:left;
}
#search-form a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:1.2em;
	color:#363636;
	border:1px solid #00102d;
	background:#fcfcfc;
	display:inline-block;
	padding:6px 10px 5px 11px;
	text-decoration:none;
}
	#search-form a:hover {
		color:#fcfcfc;
		background:#363636;
	}

.carousel {
	padding:19px;
	height:299px;
	width:952px;
	background:url(../images/carousel-tail.gif) 0 0 repeat;
	position:relative;
}
	.carousel .prev {
		display:block;
		width:35px;
		height:49px;
		text-indent:-5000px;
		background:url(../images/carousel-prev.png) left top no-repeat;
		position:absolute;
		left:10px;
		top:146px;
		z-index:99;
	}
	.carousel .next {
		display:block;
		width:35px;
		height:49px;
		text-indent:-5000px;
		background:url(../images/carousel-next.png) left top no-repeat;
		position:absolute;
		right:10px;
		top:146px;
		z-index:99;
	}
		.carousel .prev:hover, 
		.carousel .next:hover {
			background-position:left bottom;
		}
	.carousel li {
		margin-right:14px;
		border:1px solid #00102d;
	}
	.jCarouselLite {
		width:952px !important;
		height:100%;
		overflow:hidden;
	}

.angle-left {
	width:20px;
	height:20px;
	background:url(../images/pic-1.png) 0 0 no-repeat;
	position:absolute;
	left:0;
	bottom:-20px;
	z-index:99;
}
.angle-right {
	width:20px;
	height:20px;
	background:url(../images/pic-2.png) 0 0 no-repeat;
	position:absolute;
	right:0;
	bottom:-20px;
}
/*********************************content*************************************/
#content {
	width:100%; 
	padding:0;
	position:relative;
	z-index:1;
}

.spacer-1 {
	width:100%; 
	background:url(../images/pic-1.gif) 217px 0 repeat-y;
}

h2 {
	font-size:30px; 
	line-height:1.2em; 
	margin:0 0 28px 0; 
	color:#1f232c;
	letter-spacing:-1px;
}
	h2 strong {
		color:#4199e1;
		text-transform:uppercase;
	}
h3 {
	font-size:22px; 
	line-height:1.2em; 
	margin:0 0 35px 0; 
	color:#1f232c;
	text-transform:uppercase;
}

h3 strong {
	color:#4199e1;
	text-transform:uppercase;
}

h4 {
	font-size:15px; 
	line-height:1.2em; 
	margin:3px 0; 
	color:#1f232c;
	text-transform:uppercase;
}
h6 {
	font-size:14px;
	color:#1962A6;
	margin-bottom:5px;
	font-weight:normal;
	font-style:italic;
}

.border-bot {
	width:100%; 
	padding-bottom:45px; 
	background:url(../images/pic-3.gif) 0 bottom repeat-x;
}

.box {
	padding:12px 5px 12px 12px;
	margin-bottom:1px;
	border:1px solid #e9e9e9;
	color:#adadad;
	line-height:16px;
	background:#f9f9f9;
	cursor:pointer;
}
	.box.alt {
		color:#fcfcfc;
		background:url(../images/carousel-tail.gif) 0 0 repeat;
	}
		.box.alt h4 {
			color:#fcfcfc;
		}

.sm_box {
	padding:12px 5px 12px 12px;
	margin-bottom:1px;
	border:1px solid #e9e9e9;
	color:#adadad;
	line-height:16px;
	background:#f9f9f9;
	cursor:pointer;
}
	.sm_box.alt {
		color:#fcfcfc;
		background:url(../images/carousel-tail.gif) 0 0 repeat;
	}
		.sm_box.alt h4 {
			color:#fcfcfc;
		}

/*.sm_box:hover {
	background:#eeeeee;	
}*/

.banner {
	display:block;
	width:263px;
	height:78px;
	text-indent:-5000px;
	background:url(../images/banner-bg.jpg) 0 0 no-repeat;
	box-shadow:0px 0px 5px #dcdcdc;
	-moz-box-shadow:0px 0px 5px #dcdcdc;
	-webkit-box-shadow:0px 0px 5px #dcdcdc;
}

.testimonial {
	padding:15px 5px 15px 23px;
	width:239px;
	margin-bottom:21px;
	border:4px solid #e9e9e9;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	position:relative;
}
	#page2 .testimonial {
		padding:15px 5px 25px 23px;
	}
	.testimonial p {
		color:#00b2d8;
		font-size:14px;
		line-height:24px;
		font-style:italic;
	}
.testimonial-angle {
	width:41px;
	height:25px;
	background:url(../images/pic-4.png) 0 0 no-repeat;
	position:absolute;
	bottom:0px;
	right:70px;
}
.button {
	display:inline-block; 
	color:#000; 
	background:url(../images/button-tail.gif) 0 0 repeat-x;
}
	
	.button:hover {color:#fff;}

.list-1 li {
	font-size:14px;
	line-height:30px;
	font-style:italic;
	padding-left:30px;
	background:url(../images/marker.png) 0 9px no-repeat;
}
	.list-1 li a {
		display:inline-block;
		color:#162D50;
	}
		.list-1 li a:hover {
			color:#3a3a3a;
		}

.list-2 li {
	font-size:14px; 
	line-height:24px; 
	padding:0px; 
	background:url(../images/pic-1.gif) 0 bottom repeat-x;
}
	.list-2 li a {
		display:block; 
		color:#1799cf; 
		padding-left:12px; 
		background:url(../images/marker-1.gif) 0 10px no-repeat;
	}
		.list-2 li a:hover {color:#fff;}
	.list-2 .last-item {background:none;}

.link:hover {text-decoration:underline;} 

.link-1 {
	font-size:13px; 
	color:#adadad;
	cursor:pointer;
}
	.link-1:hover {color:#00b2d8;} 

.link-2 {
	font-size:12px; 
	color:#3a3a3a;
}
	.link-2:hover {text-decoration:underline;} 

.link-3:hover {
	color:#3a3a3a;
}
.link-4 {
	font-size:12px; 
	line-height:16px;
	color:#adadad;
}
	.link-4:hover {text-decoration:underline;} 
.text-1 {
	font-size:20px;
	line-height:1.2em;
	color:#adadad;
	margin-bottom:16px;
	display:inline-block;
} 
.text-2 {font-size:14px; line-height:1.285em;}  

dl span {float:left; width:90px;}

/* Contact form */
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
	}
	#contact-form fieldset {
		border:none;
		padding:0;
		}
		#contact-form .field {
			overflow:hidden;
			padding:0 0 10px 0;
			}
			
			#contact-form input {
				display:block;
				width:336px;
				padding:7px 10px; 
				margin:0;
				border:1px solid #d8d8d9;
				background:none;
				font-family:Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:1.2em;
				color:#3a3a3a;
			}
			#contact-form .area .error { float:none;}
			#contact-form textarea { 
				overflow:auto;
				width:455px;
				height:180px;
				padding:8px 10px; 
				margin:0;
				border:1px solid #d8d8d9;
				background:none;
				font-family:Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:1.2em;
				color:#3a3a3a;
			}
				#contact-form a {
					cursor:pointer;
					}
				#contact-form .alignright {
					padding-top:12px;
					}
					#contact-form small {
						color:red;
						font-weight:bold;
						padding:0 0 0 5px;
						}
			#contact-form label {
				padding:0 0 0px 10px;
				display:inline-block;
				color:#F00;
				}
				#contact-form .error {
					color:#f00;
					font-size:11px;
					line-height:1.23em;
					display:none;
					overflow:hidden;
				}
		.buttons-wrapper { padding-top:22px; text-align:right; }
		.buttons-wrapper a { margin-left:30px;}
		
/****************************footer************************/
footer {
	width:100%; 
	padding:0px 0 30px;
}
	footer .main {
		font-size:12px;
		line-height:18px;
		color:#3a3a3a;
	}
	
	footer .bg {
		padding:18px 0;
	}
.row-1 {
	width:100%;
	min-height:62px;
	padding:15px 0 0 0;
	background:url(../images/carousel-tail.gif) 0 0 repeat;
	position:relative;
}
	.row-1 .angle-left {
		position:absolute;
		top:-20px;
		left:0;
		background:url(../images/pic-5.png) 0 0 no-repeat;
	}
	.row-1 .angle-right {
		position:absolute;
		top:-20px;
		right:0;
		background:url(../images/pic-6.png) 0 0 no-repeat;
	}
.list-services {
	margin:0;
	padding:0 0 0 17px;
}
	.list-services li {
		float:left; 
		padding:8px 5px 0 0;
	}
		.list-services li a {
			display:inline-block;
		}
		
#subscribe-form {
	padding:10px 0 0 16px; 
	overflow:hidden;
}
#subscribe-form input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.27em;
	width:170px;
	padding:5px 8px 6px;
	margin:0;
	color:#9f9f9f;
	background:url(../images/subdcribe-input-tail.png) 0 0 repeat; 
	border-top:1px solid #0b2250;
	border-left:1px solid #0b2250;
	border-bottom:none;
	border-right:none;
	float:left;
}
#subscribe-form a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:1.2em;
	color:#363636;
	border:1px solid #00102d;
	background:#fcfcfc;
	display:inline-block;
	padding:5px 10px 6px 11px;
	text-decoration:none;
}
	#subscribe-form a:hover {
		color:#fcfcfc;
		background:#363636;
	}
	
#easyTooltip{
	font-family:Arial, Helvetica, sans-serif;
	padding:3px 11px;
	border:1px solid #fff;
	background:#37a4fb;
	color:#fff;
	font-size:11px;
	position:relative;
	z-index:9;
}
/**********************************SLIDES PLUGIN*******************/
/*
			Load CSS before JavaScript
		*/
		
		/*
			Slides container
			Important:
			Set the width of your slides container
			Set to display none, prevents content flash
		*/
		.slides_container {
			width:315px;
			display:none;
		}
 
		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		.slides_container div {
			width:315px;
			height:300px;
			display:block;
		}
		
		/*
			Optional:
			Reset list default style
		*/
		.pagination {
			list-style:none;
			margin:0;
			padding:0;
		}
 
		/*
			Optional:
			Show the current slide in the pagination
		*/
		.pagination .current a {
			color:red;
		}

.web_title {
	width: 600px;
	margin-right: 0;
	margin-left: 1.5em;
	margin-bottom: 0.65em;
	display: inline-block;
}

.s_web_title {
	width: 600px;
	margin-right: 0;
	margin-left: 1.5em;
	margin-bottom: 0.65em;
	display: none;
}

.search_bar {
	width: 250px;
	margin-left: 0;
	height: 100px;
	margin-left: 8.95em;
	display: inline-block;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 0;
    
    /* These styles are optional, and describe how the pageslide will look */
    background: url(../images/menu_bg.png) repeat top left #237dd1;
    color: #FFF;
    border-right: 7px solid #000;
    /*-webkit-box-shadow: inset -10px 0px 5px -2px #1261ac;
    -moz-shadow: inset -10px 0px 5px -2px #1261ac;
    box-shadow: inset -10px 0px 5px -2px #1261ac;*/
    //border-top:5px solid #162d50;
    font-weight: 500;
}

#pageslide ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#pageslide li {
  border-bottom: 1px solid #1261ac;
  text-decoration: none;
  padding: 0.75em 0 1em 0 !important;
  margin: 0 0 0 0;
  font-weight: 500;
}

#pageslide a {
	text-decoration: none;
	color: #fff;
}

.text_link {
	margin-left: 2em; 
}

#pageslide li:hover {
	background-color: #2e87dc;
	/*-webkit-box-shadow: inset -10px 0px 5px -2px #1261ac;
    -moz-shadow: inset -10px 0px 5px -2px #1261ac;
    box-shadow: inset -10px 0px 5px -2px #1261ac;*/
}

.header_menu {
	margin-left: 1em; 
}

.no_highlight {
	background: #dc9261;
			background: -moz-linear-gradient(#414141, #262626);
			background: -webkit-linear-gradient(#414141, #262626);
			background: -o-linear-gradient(#414141, #262626);
			background: -ms-linear-gradient(#414141, #262626);
			background: linear-gradient(to bottom,  #414141, #262626);  
}

.no_highlight:hover {
	background: #dc9261;
			background: -moz-linear-gradient(#616060, #414141);
			background: -webkit-linear-gradient(#616060, #414141);
			background: -o-linear-gradient(#616060, #414141);
			background: -ms-linear-gradient(#616060, #414141);
			background: linear-gradient(to bottom,  #616060, #414141);  
}

.open {
    display: none;
    /*float: left;*/
    width: 50px;
    height: 40px;
    /*margin-right: 10px;*/
    background: url(../images/menu.png) center center no-repeat #2a86dd;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -border-radius: 8px;
    box-shadow: inset 0 0 3px #000;
    text-indent: -999999px;
    border: 0;
    /*position: absolute;*/
    margin-top: 1.8em;
    margin-left: 4em;
}

#modal {
	display: none;
}

.new_suf {
	display: none;
}

.no_basic {
	display: none;
}

.no_bottom {
	margin-bottom: 0em !important;
}

.margin-bottom-0 {
	margin-bottom: 1.5em !important;
}

.second_yes {
	display: none;
}

.second_pics {
	display: none;
}

.third_pics {
	display: none;
}

/*------ Breakpoint #0 for Website ------*/


/*------ Breakpoint #1 for Website ------*/
@media only screen and (max-width: 1000px) {
	.carousel {
		width:630px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.jCarouselLite {
		width:625px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.search_bar {
		display: none;
	}
	.web_title {
		margin-right: auto;
		margin-left: auto;
	}
	.open {
    	display: inline-block;
    }
    /*.menu {
    	display: none;
    }*/
    .suf {
    	display: none;
    }
    .new_suf {
    	display: inline-block;
    	width: 260px;
    }
    .container_24 {
    	width: 100% !important;
    	/*margin-left: auto !important;
    	margin-right: auto !important;*/
    }
    .grid_16 {
    	width: 260px !important;
    	margin: 0 0 0 0 !important;
    }
    .grid_8 {
    	width: 300px !important;
    	margin: 0 0 0 8em !important;
    }

    .grid_wind {
    	width: 260px !important;
    }

    .wind {
    	margin: 6em 0 0 6em !important;
    }

	.logo {
		display: none;
	}
	.title_logo {
		display: inline-block;
		font-size: 70px;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		text-align: center;
	}
	/*.web_title {
		width: 50% !important;
		display: inline-block;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}*/
	.main {
		width: 670px !important; 	
	}
	.web_title {
		display: none;
	}
	.s_web_title {
		/*border: 1px solid black;*/
		width: 600px !important;
		display: block;
		margin: 1em auto 1em auto !important;
		padding: 0 0 0 0;
	}
	.bg {
	width:620px; 
	margin:0 auto 0 auto;
	padding:25px 0 0;
	background:#fcfcfc;
	}
	.bg_bottom {
	width:620px; 
	margin:0 auto 0 auto;
	padding:18px 0 18px 0;
	background:#fcfcfc;
	}
	.bg-2 {
	width:620px; 
	margin:0 auto 0 auto;
	padding: 25px 0 1em !important;
	background:#fcfcfc;
	}
	.extra-wrap {
		width: 300px !important;
	}
	.lrg-extra-wrap {
		width: 500px !important;
	}
	.wrapper {
		width: 600px !important;
	}
	.wrapper_fp {
		width: 600px !important;
	}
	.pic_wrapper {
		width: 600px !important;
	}
	.wrapper_middle {
		width: 600px !important;
	}
	.wrapper_bottom {
		width: 660px !important;
		margin: 0 0 0 0 !important;
		padding: 0 0 0 0 !important;
	}
	h2 {
		width: 660px !important;
	}
	.no_sml {
		display: none;
	}
	.grid_24 {
		/* 523 */
		width: 523px !important;
		margin: 0 auto 0 auto !important;
		float: none !important;
		display: block !important;
		padding: 0 20px 0 20px;
	}
	/*h3 {
		width: 600px !important;
	}*/
	/*.cufon-canvas {
		height: 30px !important;
	}
	.cufon {
		height: 30px !important;
	}*/
}

/*------ Breakpoint #2 for Website ------*/
@media only screen and (max-width: 690px) {
	.carousel {
		width:308px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.jCarouselLite {
		width:308px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.new_suf {
		display: none !important;
	}
	.grid_wind,
	.wind {
		width: 0 !important;
		display: none;
	}
	.menu {
		display: none;
	}
	.title_logo {
		font-size: 55px;
	}
	.open {
    	margin: 1em 0 0 3em !important;
    }
    .main {
		width: 500px !important; 	
	}
	.grid_16 {
    	width: 170px !important;
    	margin: 0 0 0 0 !important;
    }
    .grid_8 {
    	width: 300px !important;
    	margin: 0 0 0 2.5em !important;
    }
    .wrapper_bottom {
		width: 500px !important;
		margin: 0 0 0 0 !important;
		padding: 0 0 0 0 !important;
	}
	.s_web_title {
		width: 480px !important;
	}
	.img-indent {
		margin: 0 0 2em 4em !important;
	}
	.margin_rm {
		margin-left: 6em !important;
	}
	h2 {
		width: 300px !important;
	}
	.bg {
	width:400px; 
	margin:3em auto 0 auto;
	}
	.bg_bottom {
	width:400px; 
	margin:0 auto 0 auto;
	padding-bottom: 1em !important;
	padding-top: 1em !important;
	}
	.bg-2 {
	width:400px; 
	margin:2em auto 0 auto;
	text-align: center;
	}
	.extra-wrap {
		width: 300px !important;
		display: block !important;
		margin: 0 0 0 2em !important;
		font-size: 1.25em;
	}
	.lrg-extra-wrap {
		width: 350px !important;
	}
	.wrapper {
		width: 400px !important;
	}
	.wrapper_fp {
		width: 350px !important;
		text-align: left !important;
		margin-left: 1em !important;
	}
	.pic_wrapper {
		width: 300px !important;
		margin-left: 7em !important;
	}
	.wrapper_middle {
		width: 250px !important;
		display: block !important;
		margin-left: 3.5em !important;
	}
	.grid_6 {
		width: 300px !important;
		margin-left: 0 !important;
	}
	.grid_24 {
		/* 523 */
		width: 308px !important;
	}
	.list-1 li {
		font-size: 1.25em !important;
	}
	.head_1 {
		display: block;
		width: 250px !important;
		height: 40px !important;
		margin: 0 0 0 4em !important;
	}
	.head_2 {
		display: block;
		width: 300px !important;
		height: 40px !important;
		margin: 0 0 1em 2.5em !important;
	}
	.no_second {
		display: none !important;
	}
	.hotel_rooms {
		width: auto;
		margin-left: 2.5em !important;
	}
	.rv_park {
		width: auto;
		margin-left: 2.5em !important;
		margin-bottom: 0 !important;	
	}
	.campground {
		width: auto;
		margin-left: 2.5em !important;
	}
	.contact_txt {
		width: auto;
		margin-left: 2em !important;
	}
	.info_txt {
		width: auto;
		margin-left: 2em !important;
	}
	.map_and {
		width: auto;
		margin-left: 2em !important;
	}
	.transpo {
		width: auto;
		margin-left: 2em !important;
	}
	.fun_sun {
		width: auto;
		margin-left: 2.5em !important;	
	}
	.enjoy {
		width: 200px;
		margin-left: 6.5em !important;
	}
	.margin-bottom {
		margin-bottom: 1.5em !important;
	}
	.wind_kite {
		width: auto;
		margin-left: 2.5em !important;
	}
	.fish_img {
		margin-left: 5em !important;
	}
	.intro_fish {
		text-align: center !important;
		margin-left: 1em !important;
	}
	.fish_pkg {
		width: auto;
		margin-left: 2.5em !important;
	}
	.fun_pics {
		width: auto;
		margin-left: 3em !important;
	}
	.second_yes {
		display: block;
	}
	.second_no {
		display: none !important;
	}
	.head_fish_sm {
		text-align: center;
	}
	.second_pics {
		display: block !important;
	}
	.second_pics h1 {
		width: 220px !important;
		font-size: 1.5em !important;
		margin-bottom: 1em !important;
		text-transform:uppercase;
		text-align: center;
		margin-left: 4em !important;
	}
	.second_pics img {
		margin-bottom: 1.5em !important;
		border: 3px outset #ccc;
	}
}

/*------ Breakpoint #3 for Website ------*/
@media only screen and (max-width: 505px) {
	.no_third {
		display: none !important;
	}
	.second_pics {
		display: none !important;
	}
	.third_pics {
		display: block !important;
	}
	.third_pics h1 {
		width: 220px !important;
		font-size: 1.5em !important;
		margin-bottom: 1em !important;
		text-transform:uppercase;
		text-align: center;
		margin-left: 1.25em !important;
	}
	.third_pics img {
		margin-bottom: 1.5em !important;
		border: 3px outset #ccc;
	}
	.pic_wrapper {
		margin-left: 3em !important;
	}
	.margin-top {
		margin-top: 2em !important;
	}
	.map-extra-wrap {
		display: block !important;
		width: 300px !important;
		margin: 1em 0 1em -1em !important;
	}
	.main {
		width: 380px !important; 	
	}
	.title_logo {
		font-size: 40px;
		margin-left: 0.25em;
	}
	.open {
		width: 40px !important;
		height: 30px !important;
    	margin: 0.5em 0 0 1em !important;
    }
	.row-1 {
		display: none;
	}
	.grid_16 {
    	width: 170px !important;
    	margin: 0 0 0 0 !important;
    }
    .grid_8 {
    	width: 300px !important;
    	margin: 0 0 0 2.5em !important;
    }
    .wrapper_fp {
		width: 285px !important;
		text-align: left !important;
		margin-left: 0em !important;
	}
    .wrapper_bottom {
		width: 200px !important;
		margin: 0 0 0 0 !important;
		padding: 0 0 0 0 !important;
	}
	.s_web_title {
		width: 365px !important;
	}
	.bg {
	width:305px; 
	margin:0 auto 0 auto;
	padding:25px 0 0;
	background:#fcfcfc;
	}
	.bg-2 {
	width:305px; 
	margin:0 auto 0 auto;
	background:#fcfcfc;
	}
	.extra-wrap {
		width: 250px !important;
		margin: 0 0 0 1em !important;
		font-size: 1em !important;
	}
	.lrg-extra-wrap {
		width: 260px !important;
	}
	.wrapper {
		width: 305px !important;
		margin-bottom: 0 !important;
	}
	.img-indent {
		margin: 0 0 1.5em 0.75em !important;
	}
	.margin_rm {
		margin-left: 2.5em !important;
	}
	.list-1 li {
		font-size: 1em !important;
	}
	.wrapper_middle {
		width: 225px !important;
		margin-left: 1.5em !important;
		margin-bottom: 0 !important;
		border: none !important;
	}
	.grid_6 {
		width: 200px !important;
	}
	/*.border-bot {
		background: none;
	}*/
	.p3 {
		margin-bottom: 1em !important;
		padding-bottom: 0 !important;
		border: none !important;
	}
	.head_1 {
		display: none !important;
	}
	.border-act {
		width:100%; 
		padding-bottom:10px; 
		background:url(../images/pic-3.gif) 0 bottom repeat-x;
	}
	.head_2 {
		display: none !important;
	}

	.sm_head_1 {
		width: 225px !important;
		height: 30px !important;
		margin: 0 0 0 2.25em !important;
		display: block !important;
	}

	.sm_head_2 {
		width: 275px !important;
		height: 30px !important;
		margin: 0 0 1em 0.05em !important;
		display: block !important;
	}
	.bg_bottom {
		width:305px; 
		padding-top: 0 !important;
	}
	.grid_6 {
		margin-bottom: 1em !important;
	}
	.bg_bottom .wrapper {
		margin-left: -1em !important;
	}
	.hotel_rooms {
		width: auto;
		margin-left: -1em !important;
	}
	.rv_park {
		width: auto;
		margin-left: -1em !important;
		margin-bottom: 0 !important;
		margin-top: 1em !important;	
	}
	.contact_txt {
		width: auto;
		margin-left: -1em !important;
	}
	.info_txt {
		width: auto;
		margin-left: -1em !important;
	}
	.campground {
		width: auto;
		margin-left: -1em !important;
	}
	.map_and {
		width: auto;
		margin-left: -1em !important;
	}
	.transpo {
		width: auto;
		margin-left: -1em !important;
	}
	.fun_sun {
		width: auto;
		margin-left: -1em !important;	
	}
	.enjoy {
		width: 200px;
		margin-left: 2em !important;
	}
	.wind_kite {
		width: auto;
		margin-left: -1em !important;
	}
	.fish_img {
		margin-left: 2.5em !important;
	}
	.intro_fish {
		text-align: center !important;
		margin-left: 0.75em !important;
	}
	.fish_pkg {
		width: auto;
		margin-left: -1em !important;
	}
	.head_fish_sm {
		width: 280px !important;
	}
	.fun_pics {
		width: auto;
		margin-left: -1em !important;
	}
}











